body{
  background-color: #d4f5f5;
}
.flex-container {
    display: flex;
    width: 50%;
  }
  
  .flex-container > div {
    background-color: rgb(30, 229, 255);
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
  }

  .flex-cont {
    display: flex;
    height: 400px;
  }
  
  .flex-cont > div {
    background-color: rgb(30, 255, 45);
    color: white;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 155px;
    font-size: 30px;
  }

  .flex-cont .con{
    background-color: rgb(216, 135, 43);
    color: white;
    width: 650px;
    margin: 10px;
    text-align: center;
    line-height: 155px;
    font-size: 30px;
  }

  .con {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  }
  
  .child {
    background-color: #e1ec0b;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
  }